In [105]:
import pandas as pd
import numpy as np
def timetrans(a):
    return a[0:4]+'-'+a[5:7]+'-'+a[8:10]

info=pd.read_csv('sku_info.csv')
info = pd.DataFrame(info.values, columns=['sku_id','first','second','third','brand'])

sales = pd.read_csv('sku_sales.csv')
sales.columns = ['sku_id','dc_id','date','quantity','vend','or_price','discount']
#sales.loc[:,'date']=sales.date.map(timetrans)

attr=pd.read_csv('sku_attr.csv')
attr = pd.DataFrame(attr.values, columns=['sku_id','attr','attr_values'])

prom=pd.read_csv('sku_prom.csv')
prom = pd.DataFrame(prom.values, columns=['date','sku_id','third','prom_type'])
prom.loc[:,'date']=prom.date.map(timetrans)

test_prom=pd.read_csv('sku_prom_testing_2018Jan.csv')
test_prom=pd.DataFrame(test_prom.values,columns=['date','sku_id','third','prom_type'])
test_prom.loc[:,'date']=test_prom.date.map(timetrans)

a=info.drop(['first','second','brand'],axis=1)
prom09=prom[prom.sku_id!=-999]
b=prom[prom.sku_id==-999].drop(['sku_id'],axis=1)
prom999=pd.merge(b,a,how='left',on='third')
prom_ok=pd.concat([prom999,prom09])

In [106]:
business=pd.merge(sales,prom_ok,how='left',on=['sku_id','date'])

In [107]:
print sales.shape
print prom_ok.shape
print business.shape

(2127485, 7)
(862250, 4)
(3842160, 9)

In [6]:
print prom_ok.groupby(['sku_id','date'])['prom_type'].unique()

KeyboardInterrupt:

In [108]:
a=pd.get_dummies(prom_ok['prom_type'],prefix='prom')
b=pd.concat([prom_ok,a],axis=1)
c=pd.pivot_table(b,index=['date','sku_id','third'],aggfunc=np.sum).reset_index()

In [8]:
print c[(c.prom_1!=0)&(c.prom_4!=0)&(c.prom_6!=0)&(c.prom_10!=0)&(c.sku_id==637)]

              date  sku_id  third  prom_1  prom_10  prom_4  prom_6
5609    2016-01-13     637     17       1        1       1       1
6067    2016-01-14     637     17       1        1       1       1
6529    2016-01-15     637     17       1        1       1       1
6991    2016-01-16     637     17       1        1       1       1
7453    2016-01-17     637     17       1        1       1       1
7905    2016-01-18     637     17       1        1       1       1
8360    2016-01-19     637     17       1        1       1       1
8821    2016-01-20     637     17       1        1       1       1
9279    2016-01-21     637     17       1        1       1       1
9747    2016-01-22     637     17       1        1       1       1
10218   2016-01-23     637     17       1        1       1       1
10688   2016-01-24     637     17       1        1       1       1
11160   2016-01-25     637     17       1        1       1       1
21905   2016-02-17     637     17       1        1       1       1
22378   2016-02-18     637     17       1        1       1       1
22852   2016-02-19     637     17       1        1       1       1
23328   2016-02-20     637     17       1        1       1       1
23803   2016-02-21     637     17       1        1       1       1
25230   2016-02-24     637     17       1        1       1       1
25707   2016-02-25     637     17       1        1       1       1
26175   2016-02-26     637     17       1        1       1       1
26639   2016-02-27     637     17       1        1       1       1
27103   2016-02-28     637     17       1        1       1       1
28049   2016-03-01     637     17       1        1       1       1
28529   2016-03-02     637     17       1        1       1       1
29011   2016-03-03     637     17       1        1       1       1
29490   2016-03-04     637     17       1        1       1       1
29971   2016-03-05     637     17       1        1       1       1
30449   2016-03-06     637     17       1        1       1       1
30928   2016-03-07     637     17       1        1       1       1
...            ...     ...    ...     ...      ...     ...     ...
441546  2017-12-01     637     17       1        1       1       1
442449  2017-12-02     637     17       1        1       1       1
443354  2017-12-03     637     17       1        1       1       1
444266  2017-12-04     637     17       1        1       1       1
445186  2017-12-05     637     17       1        1       1       1
446114  2017-12-06     637     17       1        1       1       1
447047  2017-12-07     637     17       1        1       1       1
447992  2017-12-08     637     17       1        1       1       1
448934  2017-12-09     637     17       1        1       1       1
449873  2017-12-10     637     17       1        1       1       1
450816  2017-12-11     637     17       1        1       1       1
451767  2017-12-12     637     17       1        1       1       1
452713  2017-12-13     637     17       1        1       1       1
453654  2017-12-14     637     17       1        1       1       1
454596  2017-12-15     637     17       1        1       1       1
455547  2017-12-16     637     17       1        1       1       1
456493  2017-12-17     637     17       1        1       1       1
457441  2017-12-18     637     17       1        1       1       1
458399  2017-12-19     637     17       1        1       1       1
459365  2017-12-20     637     17       1        1       1       1
460326  2017-12-21     637     17       1        1       1       1
461288  2017-12-22     637     17       1        1       1       1
462250  2017-12-23     637     17       1        1       1       1
463211  2017-12-24     637     17       1        1       1       1
464171  2017-12-25     637     17       1        1       1       1
465121  2017-12-26     637     17       1        1       1       1
466070  2017-12-27     637     17       1        1       1       1
467025  2017-12-28     637     17       1        1       1       1
467977  2017-12-29     637     17       1        1       1       1
468931  2017-12-30     637     17       1        1       1       1

[427 rows x 7 columns]

In [9]:
sales_prom=pd.merge(sales,c,on=['sku_id','date'],how='left').drop(['third'],axis=1)

In [10]:
table3=pd.merge(sales_prom,info,on=['sku_id'],how='left')

In [12]:
print table3[table3.prom_10>=2]

         sku_id  dc_id        date  quantity  vend  or_price   discount  \
1272        683      1  2016-05-28      20.0   1.0  0.021003   6.389881
2353        560      1  2016-05-26       0.0   0.0       NaN        NaN
7836        617      0  2016-05-30      26.0   1.0  0.031129   7.971888
26152       467      3  2016-05-25       0.0   1.0       NaN        NaN
30032       707      1  2016-05-14       0.0   1.0       NaN        NaN
31683       665      1  2016-05-30       0.0   1.0       NaN        NaN
33266       560      0  2016-05-23       0.0   0.0       NaN        NaN
33907       778      2  2016-05-27       0.0   0.0       NaN        NaN
44175       937      0  2016-05-17       0.0   0.0       NaN        NaN
48385       674      2  2016-05-13       0.0   1.0       NaN        NaN
50476       467      3  2016-05-23       0.0   1.0       NaN        NaN
53434       683      0  2016-05-25      50.0   1.0  0.021003   6.442857
55492       560      1  2016-05-29       0.0   0.0       NaN        NaN
63162       416      0  2016-05-13       0.0   1.0       NaN        NaN
77285       683      1  2016-05-30      61.0   1.0  0.021003   5.853571
77469       176      3  2016-05-29       0.0   1.0       NaN        NaN
94053       974      1  2016-05-30       5.0   1.0  0.003350   9.850746
106871      234      3  2016-05-24       1.0   1.0  0.022253   8.876404
107676      683      3  2016-05-23      15.0   0.0  0.021003   6.466667
111254      187      3  2016-05-28       0.0   1.0       NaN        NaN
129379      937      3  2016-05-14       0.0   0.0       NaN        NaN
136092      416      3  2016-05-15       0.0   1.0       NaN        NaN
138923      176      1  2016-05-24       2.0   1.0  0.004988   8.370927
153351      560      0  2016-05-27       0.0   0.0       NaN        NaN
155862      455      2  2016-05-14       1.0   1.0  0.006551   6.851145
157757      663      1  2016-05-13       0.0   1.0       NaN        NaN
163927      114      0  2016-05-14       9.0   1.0  0.015864   8.345154
174017      467      3  2016-05-28       0.0   1.0       NaN        NaN
175448      234      2  2016-05-27       0.0   1.0       NaN        NaN
176733      455      0  2016-05-13       0.0   1.0       NaN        NaN
...         ...    ...         ...       ...   ...       ...        ...
1974528     187      2  2016-05-24       0.0   0.0       NaN        NaN
1979199     234      1  2016-05-26       2.0   1.0  0.022253   8.876404
2003917     665      1  2016-05-29       2.0   1.0  0.006001   8.958333
2004355     371      1  2016-05-30      13.0   1.0  0.004601   9.203804
2008070     187      1  2016-05-27       0.0   0.0       NaN        NaN
2008071     187      1  2016-05-30       0.0   0.0       NaN        NaN
2014622     974      1  2016-05-29       5.0   1.0  0.003350  10.000000
2018945     455      0  2016-05-14       2.0   1.0  0.006551   6.851145
2031736     937      0  2016-05-15       0.0   0.0       NaN        NaN
2035221     744      1  2016-05-29       3.0   1.0  0.024316   6.375321
2050121     560      3  2016-05-30       0.0   1.0       NaN        NaN
2050726     778      2  2016-05-30       0.0   0.0       NaN        NaN
2056114     665      0  2016-05-25      12.0   1.0  0.006001   8.958333
2058460     874      0  2016-05-15      26.0   1.0  0.008407   8.902602
2061054     683      0  2016-05-27      67.0   1.0  0.021003   6.176786
2061458     744      3  2016-05-24       0.0   1.0       NaN        NaN
2063068     187      2  2016-05-29       3.0   0.0  0.024878   7.437186
2066520     560      3  2016-05-29       0.0   1.0       NaN        NaN
2067136     778      1  2016-05-28       0.0   0.0       NaN        NaN
2068982     467      1  2016-05-24       0.0   1.0       NaN        NaN
2079837     176      1  2016-05-25       1.0   1.0  0.004988   6.491228
2086644     371      3  2016-05-28      21.0   1.0  0.004601   9.019022
2090965     319      1  2016-05-26       0.0   0.0       NaN        NaN
2100606     467      0  2016-05-27       1.0   1.0  0.017002   6.985294
2111153     467      2  2016-05-25       0.0   0.0       NaN        NaN
2111950     319      2  2016-05-25       0.0   0.0       NaN        NaN
2115330     665      3  2016-05-29       0.0   1.0       NaN        NaN
2117471     234      1  2016-05-23       2.0   1.0  0.022253   8.876404
2119946     371      2  2016-05-25      23.0   1.0  0.004601   9.157609
2120195     176      3  2016-05-27       1.0   1.0  0.004988  10.000000

         prom_1  prom_10  prom_4  prom_6  first  second  third  brand
1272        1.0      2.0     0.0     1.0      6      25    290    254
2353        0.0      2.0     0.0     0.0      6      24    128    780
7836        1.0      2.0     0.0     1.0      6      23    287    992
26152       1.0      2.0     1.0     1.0      6      23    287    771
30032       0.0      2.0     0.0     0.0      7      30    167    329
31683       1.0      2.0     0.0     1.0      6      23    287    771
33266       0.0      2.0     0.0     0.0      6      24    128    780
33907       1.0      2.0     0.0     0.0      6      28    143    737
44175       0.0      2.0     0.0     0.0      7      30    167    329
48385       1.0      2.0     0.0     0.0      7      30    167    810
50476       1.0      2.0     1.0     1.0      6      23    287    771
53434       1.0      2.0     0.0     1.0      6      25    290    254
55492       0.0      2.0     0.0     0.0      6      24    128    780
63162       1.0      2.0     0.0     1.0      7      30    167    329
77285       1.0      2.0     0.0     1.0      6      25    290    254
77469       0.0      2.0     0.0     0.0      6      26    293    387
94053       0.0      2.0     0.0     1.0      6      24    125    268
106871      1.0      2.0     1.0     1.0      6      25    290    150
107676      1.0      2.0     0.0     1.0      6      25    290    254
111254      1.0      2.0     0.0     0.0      6      25    290    281
129379      0.0      2.0     1.0     0.0      7      30    167    329
136092      1.0      2.0     0.0     1.0      7      30    167    329
138923      0.0      2.0     0.0     0.0      6      26    293    387
153351      0.0      2.0     0.0     0.0      6      24    128    780
155862      1.0      2.0     0.0     1.0      7      30    167    942
157757      0.0      2.0     0.0     0.0      7      30    167    712
163927      1.0      2.0     0.0     0.0      7      30    167    424
174017      1.0      2.0     1.0     1.0      6      23    287    771
175448      1.0      2.0     1.0     1.0      6      25    290    150
176733      1.0      2.0     0.0     1.0      7      30    167    942
...         ...      ...     ...     ...    ...     ...    ...    ...
1974528     1.0      2.0     0.0     0.0      6      25    290    281
1979199     1.0      2.0     1.0     1.0      6      25    290    150
2003917     1.0      2.0     0.0     1.0      6      23    287    771
2004355     1.0      2.0     0.0     1.0      6      24    125    268
2008070     1.0      2.0     0.0     0.0      6      25    290    281
2008071     1.0      2.0     0.0     0.0      6      25    290    281
2014622     0.0      2.0     0.0     1.0      6      24    125    268
2018945     1.0      2.0     0.0     1.0      7      30    167    942
2031736     0.0      2.0     1.0     0.0      7      30    167    329
2035221     1.0      2.0     0.0     1.0      6      25    290     51
2050121     0.0      2.0     0.0     0.0      6      24    128    780
2050726     1.0      2.0     0.0     0.0      6      28    143    737
2056114     1.0      2.0     0.0     1.0      6      23    287    771
2058460     1.0      2.0     1.0     0.0      7      30    167    329
2061054     1.0      2.0     1.0     1.0      6      25    290    254
2061458     1.0      2.0     0.0     1.0      6      25    290     51
2063068     1.0      2.0     0.0     0.0      6      25    290    281
2066520     0.0      2.0     0.0     0.0      6      24    128    780
2067136     1.0      2.0     0.0     0.0      6      28    143    737
2068982     1.0      2.0     1.0     1.0      6      23    287    771
2079837     0.0      2.0     0.0     0.0      6      26    293    387
2086644     0.0      2.0     0.0     1.0      6      24    125    268
2090965     0.0      2.0     0.0     0.0      6      23    287    190
2100606     1.0      2.0     1.0     1.0      6      23    287    771
2111153     1.0      2.0     1.0     1.0      6      23    287    771
2111950     0.0      2.0     0.0     0.0      6      23    287    190
2115330     1.0      2.0     0.0     1.0      6      23    287    771
2117471     1.0      2.0     1.0     1.0      6      25    290    150
2119946     1.0      2.0     0.0     1.0      6      24    125    268
2120195     0.0      2.0     0.0     0.0      6      26    293    387

[490 rows x 15 columns]

In [109]:


b=attr.groupby(['sku_id'])['attr'].unique().reset_index()
b.loc[:,'attr']=b['attr'].map(lambda x: len(x))
a=b.copy()

b=attr.groupby(['sku_id'])['attr_values'].unique().reset_index()
b.loc[:,'attr_values']=b['attr_values'].map(lambda x: len(x))
a=pd.merge(a,b,how='left',on='sku_id')

a['values_rate']=a['attr_values']/a['attr']

table4=pd.merge(table3,a,how='left',on='sku_id')
print table4

         sku_id  dc_id        date  quantity  vend  or_price   discount  \
0           637      0  2016-10-12       5.0   1.0  0.089886   7.858136
1           637      0  2017-09-24       1.0   1.0  0.089886   8.191933
2           637      3  2016-07-01       0.0   1.0       NaN        NaN
3           637      3  2016-08-03       2.0   1.0  0.089886   8.122392
4           637      3  2017-05-03       4.0   1.0  0.089886   8.136300
5           937      1  2016-02-12       0.0   0.0       NaN        NaN
6           937      1  2017-02-01       0.0   0.0       NaN        NaN
7           937      1  2017-03-25       0.0   0.0       NaN        NaN
8           937      1  2017-04-24       0.0   1.0       NaN        NaN
9           937      4  2017-12-14       0.0   1.0       NaN        NaN
10          937      5  2017-12-28       0.0   1.0       NaN        NaN
11          937      0  2016-01-14       2.0   1.0  0.014877   5.000000
12          937      2  2016-03-09       0.0   0.0       NaN        NaN
13          937      2  2016-07-03       7.0   1.0  0.016002   5.714062
14          937      2  2017-05-26       4.0   1.0  0.021240   4.973514
15          937      2  2017-09-25       2.0   1.0  0.021240   5.000000
16          937      2  2017-10-28       7.0   1.0  0.021240   4.412007
17          937      2  2017-12-12      18.0   1.0  0.020061   5.294448
18          937      3  2016-02-27       0.0   0.0       NaN        NaN
19          937      3  2016-03-03       0.0   0.0       NaN        NaN
20          937      3  2016-04-19       0.0   0.0       NaN        NaN
21          937      3  2016-05-09       0.0   0.0       NaN        NaN
22          937      3  2016-05-20       0.0   0.0       NaN        NaN
23          937      3  2016-10-20       0.0   0.0       NaN        NaN
24          937      3  2017-01-21       0.0   0.0       NaN        NaN
25          937      3  2017-01-24       0.0   0.0       NaN        NaN
26          937      3  2017-02-19       0.0   0.0       NaN        NaN
27          937      3  2017-05-20       0.0   1.0       NaN        NaN
28          177      0  2017-07-08       0.0   0.0       NaN        NaN
29          177      0  2017-12-02       9.0   1.0  0.001000   8.750000
...         ...    ...         ...       ...   ...       ...        ...
2127455     611      0  2017-08-09       0.0   0.0       NaN        NaN
2127456     611      1  2017-03-11       5.0   1.0  0.011239   9.666296
2127457     611      1  2017-10-30       5.0   1.0  0.012489   7.997998
2127458     611      2  2017-03-10       4.0   1.0  0.011239   9.860957
2127459     611      4  2017-02-14       2.0   1.0  0.009989  10.000000
2127460     611      4  2017-03-25       1.0   1.0  0.011239   9.443826
2127461     611      4  2017-09-13       1.0   1.0  0.012489   8.998999
2127462     611      3  2016-12-07       1.0   1.0  0.009114   9.588477
2127463     611      3  2016-12-24       0.0   1.0       NaN        NaN
2127464     873      5  2017-12-19       0.0   1.0       NaN        NaN
2127465     873      2  2016-01-25       1.0   1.0  0.012377  10.000000
2127466     873      2  2016-05-06       1.0   1.0  0.012377  10.000000
2127467     873      2  2016-12-11       0.0   1.0       NaN        NaN
2127468     873      2  2017-01-27       0.0   1.0       NaN        NaN
2127469     873      2  2017-04-11       0.0   1.0       NaN        NaN
2127470     873      4  2017-01-10       1.0   1.0  0.012377  10.000000
2127471     873      4  2017-05-21       0.0   1.0       NaN        NaN
2127472     873      4  2017-08-06       0.0   0.0       NaN        NaN
2127473     873      1  2016-01-02       1.0   0.0  0.012377  10.000000
2127474     873      1  2017-09-21       0.0   1.0       NaN        NaN
2127475     873      3  2016-08-24       0.0   1.0       NaN        NaN
2127476     873      3  2016-12-24       0.0   1.0       NaN        NaN
2127477     873      3  2017-01-10       0.0   1.0       NaN        NaN
2127478     873      3  2017-12-13       7.0   1.0  0.011126  10.000000
2127479     873      0  2016-04-12       2.0   1.0  0.012377  10.000000
2127480     873      0  2016-07-13       0.0   1.0       NaN        NaN
2127481     873      0  2016-10-14       0.0   0.0       NaN        NaN
2127482     873      0  2017-03-19       0.0   1.0       NaN        NaN
2127483     873      0  2017-08-31       0.0   1.0       NaN        NaN
2127484     873      0  2017-09-06       1.0   1.0  0.012377   7.979798

         prom_1  prom_10  prom_4  prom_6  first  second  third  brand  attr  \
0           1.0      1.0     1.0     1.0      1       4     17    177     4
1           1.0      1.0     1.0     1.0      1       4     17    177     4
2           1.0      1.0     0.0     1.0      1       4     17    177     4
3           1.0      1.0     1.0     1.0      1       4     17    177     4
4           1.0      1.0     1.0     1.0      1       4     17    177     4
5           0.0      1.0     0.0     0.0      7      30    167    329     4
6           0.0      1.0     0.0     0.0      7      30    167    329     4
7           0.0      0.0     1.0     0.0      7      30    167    329     4
8           0.0      1.0     0.0     0.0      7      30    167    329     4
9           0.0      1.0     0.0     0.0      7      30    167    329     4
10          1.0      1.0     0.0     0.0      7      30    167    329     4
11          0.0      1.0     0.0     0.0      7      30    167    329     4
12          NaN      NaN     NaN     NaN      7      30    167    329     4
13          0.0      1.0     0.0     0.0      7      30    167    329     4
14          1.0      1.0     0.0     0.0      7      30    167    329     4
15          0.0      1.0     0.0     0.0      7      30    167    329     4
16          1.0      1.0     0.0     0.0      7      30    167    329     4
17          0.0      1.0     0.0     0.0      7      30    167    329     4
18          0.0      1.0     0.0     0.0      7      30    167    329     4
19          NaN      NaN     NaN     NaN      7      30    167    329     4
20          0.0      1.0     0.0     0.0      7      30    167    329     4
21          0.0      1.0     1.0     0.0      7      30    167    329     4
22          0.0      1.0     0.0     0.0      7      30    167    329     4
23          NaN      NaN     NaN     NaN      7      30    167    329     4
24          0.0      1.0     0.0     0.0      7      30    167    329     4
25          0.0      1.0     0.0     0.0      7      30    167    329     4
26          NaN      NaN     NaN     NaN      7      30    167    329     4
27          1.0      0.0     0.0     0.0      7      30    167    329     4
28          0.0      1.0     0.0     0.0      7      30    170    901     8
29          1.0      1.0     1.0     0.0      7      30    170    901     8
...         ...      ...     ...     ...    ...     ...    ...    ...   ...
2127455     1.0      1.0     0.0     1.0      1       4     18    588     3
2127456     1.0      1.0     0.0     1.0      1       4     18    588     3
2127457     1.0      1.0     0.0     1.0      1       4     18    588     3
2127458     1.0      1.0     0.0     1.0      1       4     18    588     3
2127459     0.0      0.0     0.0     1.0      1       4     18    588     3
2127460     1.0      1.0     0.0     1.0      1       4     18    588     3
2127461     1.0      1.0     0.0     1.0      1       4     18    588     3
2127462     1.0      0.0     0.0     1.0      1       4     18    588     3
2127463     0.0      1.0     0.0     1.0      1       4     18    588     3
2127464     0.0      1.0     0.0     0.0      7     101    437    145     6
2127465     0.0      0.0     0.0     1.0      7     101    437    145     6
2127466     0.0      0.0     0.0     1.0      7     101    437    145     6
2127467     NaN      NaN     NaN     NaN      7     101    437    145     6
2127468     NaN      NaN     NaN     NaN      7     101    437    145     6
2127469     0.0      1.0     0.0     0.0      7     101    437    145     6
2127470     1.0      0.0     0.0     0.0      7     101    437    145     6
2127471     1.0      0.0     0.0     0.0      7     101    437    145     6
2127472     0.0      1.0     0.0     0.0      7     101    437    145     6
2127473     0.0      1.0     0.0     1.0      7     101    437    145     6
2127474     NaN      NaN     NaN     NaN      7     101    437    145     6
2127475     0.0      0.0     0.0     1.0      7     101    437    145     6
2127476     1.0      0.0     0.0     0.0      7     101    437    145     6
2127477     1.0      0.0     0.0     0.0      7     101    437    145     6
2127478     0.0      1.0     0.0     0.0      7     101    437    145     6
2127479     0.0      0.0     0.0     1.0      7     101    437    145     6
2127480     0.0      0.0     0.0     1.0      7     101    437    145     6
2127481     1.0      0.0     0.0     1.0      7     101    437    145     6
2127482     1.0      0.0     0.0     0.0      7     101    437    145     6
2127483     1.0      1.0     0.0     0.0      7     101    437    145     6
2127484     0.0      1.0     0.0     0.0      7     101    437    145     6

         attr_values  values_rate
0                  4     1.000000
1                  4     1.000000
2                  4     1.000000
3                  4     1.000000
4                  4     1.000000
5                  4     1.000000
6                  4     1.000000
7                  4     1.000000
8                  4     1.000000
9                  4     1.000000
10                 4     1.000000
11                 4     1.000000
12                 4     1.000000
13                 4     1.000000
14                 4     1.000000
15                 4     1.000000
16                 4     1.000000
17                 4     1.000000
18                 4     1.000000
19                 4     1.000000
20                 4     1.000000
21                 4     1.000000
22                 4     1.000000
23                 4     1.000000
24                 4     1.000000
25                 4     1.000000
26                 4     1.000000
27                 4     1.000000
28                 8     1.000000
29                 8     1.000000
...              ...          ...
2127455            5     1.666667
2127456            5     1.666667
2127457            5     1.666667
2127458            5     1.666667
2127459            5     1.666667
2127460            5     1.666667
2127461            5     1.666667
2127462            5     1.666667
2127463            5     1.666667
2127464            6     1.000000
2127465            6     1.000000
2127466            6     1.000000
2127467            6     1.000000
2127468            6     1.000000
2127469            6     1.000000
2127470            6     1.000000
2127471            6     1.000000
2127472            6     1.000000
2127473            6     1.000000
2127474            6     1.000000
2127475            6     1.000000
2127476            6     1.000000
2127477            6     1.000000
2127478            6     1.000000
2127479            6     1.000000
2127480            6     1.000000
2127481            6     1.000000
2127482            6     1.000000
2127483            6     1.000000
2127484            6     1.000000

[2127485 rows x 18 columns]

In [114]:

###test添加attr属性
print a.head()
test=pd.read_csv('test.csv')
test.drop(test.columns[[0]], axis=1,inplace=True)
uu=pd.merge(test,a,how='left',on=['sku_id'])
print uu.tail()
#uu.to_csv('test.csv')

   sku_id  attr  attr_values  values_rate
0       1     2            6          3.0
1       2     1            1          1.0
2       3     1            1          1.0
3       4     4            2          0.5
4       5     4            4          1.0
              date  dc_id  sku_id  prom_1  prom_10  prom_4  prom_6  first  \
185995  2018-01-31      5     996     1.0      1.0     0.0     0.0    1.0
185996  2018-01-31      5     997     1.0      0.0     0.0     0.0    7.0
185997  2018-01-31      5     998     0.0      1.0     0.0     0.0    1.0
185998  2018-01-31      5     999     NaN      NaN     NaN     NaN    NaN
185999  2018-01-31      5    1000     0.0      1.0     0.0     0.0    1.0

        second  third   brand  attr  attr_values  values_rate
185995     4.0   80.0   225.0     5            5     1.000000
185996    31.0  358.0  1153.0     7            7     1.000000
185997     7.0  298.0   158.0     1            1     1.000000
185998     NaN    NaN     NaN     7            4     0.571429
185999     7.0  179.0   137.0     1            1     1.000000

In [49]:
print table3.shape
print table4.shape
print sales.shape
table4.to_csv('train.csv')

(2127485, 15)
(2127485, 18)
(2127485, 7)

In [51]:
attr['count']=pd.Series(1, index=attr.index)
bbb=attr.groupby(['sku_id','attr','attr_values'])['count'].sum()
print bbb

sku_id  attr  attr_values
1       1     1433           1
              1523           1
              1524           1
              1525           1
              1528           1
        2     148            1
2       60    2436           1
3       82    1298           1
4       68    1263           1
        390   1263           1
        488   433            1
        584   1263           1
5       22    174            1
        37    299            1
        103   1194           1
        277   1553           1
6       42    20             1
        765   1435           1
        876   4              1
        877   4582           1
        878   4583           1
        879   4584           1
              4585           1
        880   4586           1
        881   1447           1
7       50    2065           1
        68    2054           1
        82    1298           1
        225   409            1
        390   2062           1
                            ..
994     390   1199           1
        488   433            1
        492   541            1
        495   1263           1
        526   1263           1
        529   1263           1
        530   1263           1
        531   1263           1
995     277   2407           1
996     1     2617           1
        43    339            1
        237   967            1
        436   203            1
        437   138            1
997     68    3157           1
        225   268            1
        397   3159           1
        492   1263           1
        540   433            1
        541   3158           1
        543   3161           1
998     60    2435           1
999     71    2444           1
        109   1334           1
        210   4              1
        277   4607           1
        411   4              1
        884   4              1
        885   4              1
1000    277   675            1
Name: count, Length: 6776, dtype: int64

In [52]:
aa=info.drop(['first','second','brand'],axis=1)
test_prom09=test_prom[test_prom.sku_id!=-999]
bb=test_prom[test_prom.sku_id==-999].drop(['sku_id'],axis=1)
test_prom999=pd.merge(bb,aa,how='left',on='third')
test_prom_ok=pd.concat([test_prom999,test_prom09])
print test_prom_ok

             date prom_type sku_id third
0      2018-01-01        10      1   366
1      2018-01-02        10      1   366
2      2018-01-03        10      1   366
3      2018-01-04        10      1   366
4      2018-01-05        10      1   366
5      2018-01-06        10      1   366
6      2018-01-07        10      1   366
7      2018-01-08        10      1   366
8      2018-01-09        10      1   366
9      2018-01-10        10      1   366
10     2018-01-11        10      1   366
11     2018-01-12        10      1   366
12     2018-01-13        10      1   366
13     2018-01-14        10      1   366
14     2018-01-15        10      1   366
15     2018-01-16        10      1   366
16     2018-01-17        10      1   366
17     2018-01-18        10      1   366
18     2018-01-19        10      1   366
19     2018-01-20        10      1   366
20     2018-01-21        10      1   366
21     2018-01-22        10      1   366
22     2018-01-23        10      1   366
23     2018-01-11         4      1   366
24     2018-01-12         4      1   366
25     2018-01-13         4      1   366
26     2018-01-14         4      1   366
27     2018-01-15         4      1   366
28     2018-01-16         4      1   366
29     2018-01-17         4      1   366
...           ...       ...    ...   ...
42133  2018-01-14         6    999   297
42134  2018-01-15         6    999   297
42135  2018-01-16         6    999   297
42136  2018-01-17         6    999   297
42137  2018-01-18         6    999   297
42138  2018-01-19         6    999   297
42139  2018-01-15         1   1000   179
42140  2018-01-16         1   1000   179
42141  2018-01-17         1   1000   179
42142  2018-01-18         1   1000   179
42143  2018-01-19         1   1000   179
42144  2018-01-20         1   1000   179
42145  2018-01-21         1   1000   179
42146  2018-01-22        10   1000   179
42147  2018-01-23        10   1000   179
42148  2018-01-24        10   1000   179
42149  2018-01-25        10   1000   179
42150  2018-01-26        10   1000   179
42151  2018-01-27        10   1000   179
42152  2018-01-28        10   1000   179
42153  2018-01-29        10   1000   179
42154  2018-01-30        10   1000   179
42155  2018-01-31        10   1000   179
42156  2018-01-08         1   1000   179
42157  2018-01-09         1   1000   179
42158  2018-01-10         1   1000   179
42159  2018-01-11         1   1000   179
42160  2018-01-12         1   1000   179
42161  2018-01-13         1   1000   179
42162  2018-01-14         1   1000   179

[42163 rows x 4 columns]

In [53]:
a=pd.get_dummies(test_prom_ok['prom_type'],prefix='prom')
b=pd.concat([test_prom_ok,a],axis=1)
ccc=pd.pivot_table(b,index=['date','sku_id','third'],aggfunc=np.sum).reset_index()

In [55]:
test1= pd.merge(ccc.drop(['third'],axis=1),info,on=['sku_id'],how='left')

In [57]:
print test1

             date  sku_id  prom_1  prom_10  prom_4  prom_6  first  second  \
0      2018-01-01       1       0        1       0       0      1       5
1      2018-01-01       2       0        1       0       0      1       7
2      2018-01-01       3       0        1       0       0      7      29
3      2018-01-01       4       1        0       0       0      7      29
4      2018-01-01       5       1        1       0       0      1       4
5      2018-01-01       6       1        0       0       0      1       3
6      2018-01-01       7       1        1       0       1      7      29
7      2018-01-01       8       0        1       0       0      7      30
8      2018-01-01       9       0        1       0       0      7      29
9      2018-01-01      10       1        1       0       0      1       4
10     2018-01-01      11       1        0       0       0      7      30
11     2018-01-01      13       1        0       0       0      7      29
12     2018-01-01      14       0        1       0       0      7      29
13     2018-01-01      15       1        1       0       0      1       5
14     2018-01-01      16       1        1       0       0      1       5
15     2018-01-01      17       0        1       0       0      7      29
16     2018-01-01      19       1        0       0       0      1       4
17     2018-01-01      20       1        0       0       0      7      30
18     2018-01-01      22       0        1       0       0      7      29
19     2018-01-01      24       1        0       0       0      7      31
20     2018-01-01      25       0        1       0       0      7      30
21     2018-01-01      26       1        0       0       0      1       3
22     2018-01-01      28       1        0       0       0      1       4
23     2018-01-01      30       1        1       0       0      7      29
24     2018-01-01      31       1        0       0       0      7      30
25     2018-01-01      32       0        1       0       0      7      30
26     2018-01-01      33       1        1       0       1      1       4
27     2018-01-01      36       1        1       0       0      1       5
28     2018-01-01      37       1        0       0       0      7      29
29     2018-01-01      39       1        1       0       0      1       5
...           ...     ...     ...      ...     ...     ...    ...     ...
27062  2018-01-31     963       1        0       0       1      1       3
27063  2018-01-31     964       1        0       0       0      7      29
27064  2018-01-31     966       1        1       0       0      7     101
27065  2018-01-31     967       1        0       0       0      7      40
27066  2018-01-31     968       1        1       0       0      1       7
27067  2018-01-31     969       1        1       0       0      1       7
27068  2018-01-31     970       1        0       0       0      1       4
27069  2018-01-31     971       0        1       0       0      7      29
27070  2018-01-31     972       1        1       0       0      1       3
27071  2018-01-31     973       1        0       0       1      1       4
27072  2018-01-31     974       0        1       0       0      6      24
27073  2018-01-31     975       1        1       0       1      7      29
27074  2018-01-31     977       1        1       0       1      7      29
27075  2018-01-31     978       0        1       0       1      1       2
27076  2018-01-31     979       1        1       0       0      1       7
27077  2018-01-31     981       0        1       0       1      7      29
27078  2018-01-31     982       1        1       0       0      1       2
27079  2018-01-31     983       1        1       0       1      7      29
27080  2018-01-31     984       1        0       0       0      7      29
27081  2018-01-31     985       1        1       0       0      7      29
27082  2018-01-31     986       1        1       0       0      7     101
27083  2018-01-31     989       0        1       0       0      7     101
27084  2018-01-31     991       1        0       0       0      7      30
27085  2018-01-31     992       1        1       0       0      1       3
27086  2018-01-31     993       1        1       0       0      7      29
27087  2018-01-31     994       1        0       0       0      7      29
27088  2018-01-31     996       1        1       0       0      1       4
27089  2018-01-31     997       1        0       0       0      7      31
27090  2018-01-31     998       0        1       0       0      1       7
27091  2018-01-31    1000       0        1       0       0      1       7

       third  brand
0        366    198
1        298    158
2        144   1040
3        145     70
4         17    707
5         15    724
6        145    957
7        168    411
8        149    111
9         80   1049
10       540   1264
11       149    518
12       149    749
13        21    285
14        21    534
15       144    394
16        14    738
17       539   1143
18       144    485
19       314   1194
20       170    783
21         6    332
22        18    648
23       144   1125
24       166     90
25       168    400
26        18    588
27        21    284
28       149    148
29        21    738
...      ...    ...
27062      4    786
27063    145    416
27064    438    777
27065    189    897
27066    179    158
27067    447    137
27068     13    396
27069    145   1617
27070     12     26
27071     13   1069
27072    125    268
27073    144    416
27074    149    957
27075     83    413
27076    179   1254
27077    147   1496
27078      1    577
27079    145    909
27080    147   1360
27081    145    957
27082    437    777
27083    437   1417
27084    166   1739
27085     12   1051
27086    149    228
27087    147    286
27088     80    225
27089    358   1153
27090    298    158
27091    179    137

[27092 rows x 10 columns]

In [68]:
for i in table4:
    print i,table4[i].dtype

 sku_id int64
dc_id int64
date object
quantity float64
vend float64
or_price float64
discount float64
prom_1 float64
prom_10 float64
prom_4 float64
prom_6 float64
first int64
second int64
third int64
brand int64
attr int64
attr_values int64
values_rate float64

In [100]:
#a = pd.DataFrame(columns=['date', 'dc_id', 'sku_id'])
a=np.zeros((186000, 3))
print a.shape
uu=0
for i in range(31):
    for j in range(6):
        for k in range(1,1000+1):
            a[uu,:]=[i,int(j),int(k)]
            uu+=1
a=pd.DataFrame(a,columns=['date', 'dc_id', 'sku_id'])
qq=test1.date.unique()
a.loc[:,'date']=a['date'].map(lambda x: qq[int(x)] )
a.loc[:,'dc_id']=a['dc_id'].map(lambda x: int(x))
a.loc[:,'sku_id']=a['sku_id'].map(lambda x: int(x) )
print a

(186000L, 3L)
              date  dc_id  sku_id
0       2018-01-01      0       1
1       2018-01-01      0       2
2       2018-01-01      0       3
3       2018-01-01      0       4
4       2018-01-01      0       5
5       2018-01-01      0       6
6       2018-01-01      0       7
7       2018-01-01      0       8
8       2018-01-01      0       9
9       2018-01-01      0      10
10      2018-01-01      0      11
11      2018-01-01      0      12
12      2018-01-01      0      13
13      2018-01-01      0      14
14      2018-01-01      0      15
15      2018-01-01      0      16
16      2018-01-01      0      17
17      2018-01-01      0      18
18      2018-01-01      0      19
19      2018-01-01      0      20
20      2018-01-01      0      21
21      2018-01-01      0      22
22      2018-01-01      0      23
23      2018-01-01      0      24
24      2018-01-01      0      25
25      2018-01-01      0      26
26      2018-01-01      0      27
27      2018-01-01      0      28
28      2018-01-01      0      29
29      2018-01-01      0      30
...            ...    ...     ...
185970  2018-01-31      5     971
185971  2018-01-31      5     972
185972  2018-01-31      5     973
185973  2018-01-31      5     974
185974  2018-01-31      5     975
185975  2018-01-31      5     976
185976  2018-01-31      5     977
185977  2018-01-31      5     978
185978  2018-01-31      5     979
185979  2018-01-31      5     980
185980  2018-01-31      5     981
185981  2018-01-31      5     982
185982  2018-01-31      5     983
185983  2018-01-31      5     984
185984  2018-01-31      5     985
185985  2018-01-31      5     986
185986  2018-01-31      5     987
185987  2018-01-31      5     988
185988  2018-01-31      5     989
185989  2018-01-31      5     990
185990  2018-01-31      5     991
185991  2018-01-31      5     992
185992  2018-01-31      5     993
185993  2018-01-31      5     994
185994  2018-01-31      5     995
185995  2018-01-31      5     996
185996  2018-01-31      5     997
185997  2018-01-31      5     998
185998  2018-01-31      5     999
185999  2018-01-31      5    1000

[186000 rows x 3 columns]

In [103]:
test2=pd.merge(a,test1,how='left',on=['date','sku_id'])
print test2

              date  dc_id  sku_id  prom_1  prom_10  prom_4  prom_6  first  \
0       2018-01-01      0       1     0.0      1.0     0.0     0.0    1.0
1       2018-01-01      0       2     0.0      1.0     0.0     0.0    1.0
2       2018-01-01      0       3     0.0      1.0     0.0     0.0    7.0
3       2018-01-01      0       4     1.0      0.0     0.0     0.0    7.0
4       2018-01-01      0       5     1.0      1.0     0.0     0.0    1.0
5       2018-01-01      0       6     1.0      0.0     0.0     0.0    1.0
6       2018-01-01      0       7     1.0      1.0     0.0     1.0    7.0
7       2018-01-01      0       8     0.0      1.0     0.0     0.0    7.0
8       2018-01-01      0       9     0.0      1.0     0.0     0.0    7.0
9       2018-01-01      0      10     1.0      1.0     0.0     0.0    1.0
10      2018-01-01      0      11     1.0      0.0     0.0     0.0    7.0
11      2018-01-01      0      12     NaN      NaN     NaN     NaN    NaN
12      2018-01-01      0      13     1.0      0.0     0.0     0.0    7.0
13      2018-01-01      0      14     0.0      1.0     0.0     0.0    7.0
14      2018-01-01      0      15     1.0      1.0     0.0     0.0    1.0
15      2018-01-01      0      16     1.0      1.0     0.0     0.0    1.0
16      2018-01-01      0      17     0.0      1.0     0.0     0.0    7.0
17      2018-01-01      0      18     NaN      NaN     NaN     NaN    NaN
18      2018-01-01      0      19     1.0      0.0     0.0     0.0    1.0
19      2018-01-01      0      20     1.0      0.0     0.0     0.0    7.0
20      2018-01-01      0      21     NaN      NaN     NaN     NaN    NaN
21      2018-01-01      0      22     0.0      1.0     0.0     0.0    7.0
22      2018-01-01      0      23     NaN      NaN     NaN     NaN    NaN
23      2018-01-01      0      24     1.0      0.0     0.0     0.0    7.0
24      2018-01-01      0      25     0.0      1.0     0.0     0.0    7.0
25      2018-01-01      0      26     1.0      0.0     0.0     0.0    1.0
26      2018-01-01      0      27     NaN      NaN     NaN     NaN    NaN
27      2018-01-01      0      28     1.0      0.0     0.0     0.0    1.0
28      2018-01-01      0      29     NaN      NaN     NaN     NaN    NaN
29      2018-01-01      0      30     1.0      1.0     0.0     0.0    7.0
...            ...    ...     ...     ...      ...     ...     ...    ...
185970  2018-01-31      5     971     0.0      1.0     0.0     0.0    7.0
185971  2018-01-31      5     972     1.0      1.0     0.0     0.0    1.0
185972  2018-01-31      5     973     1.0      0.0     0.0     1.0    1.0
185973  2018-01-31      5     974     0.0      1.0     0.0     0.0    6.0
185974  2018-01-31      5     975     1.0      1.0     0.0     1.0    7.0
185975  2018-01-31      5     976     NaN      NaN     NaN     NaN    NaN
185976  2018-01-31      5     977     1.0      1.0     0.0     1.0    7.0
185977  2018-01-31      5     978     0.0      1.0     0.0     1.0    1.0
185978  2018-01-31      5     979     1.0      1.0     0.0     0.0    1.0
185979  2018-01-31      5     980     NaN      NaN     NaN     NaN    NaN
185980  2018-01-31      5     981     0.0      1.0     0.0     1.0    7.0
185981  2018-01-31      5     982     1.0      1.0     0.0     0.0    1.0
185982  2018-01-31      5     983     1.0      1.0     0.0     1.0    7.0
185983  2018-01-31      5     984     1.0      0.0     0.0     0.0    7.0
185984  2018-01-31      5     985     1.0      1.0     0.0     0.0    7.0
185985  2018-01-31      5     986     1.0      1.0     0.0     0.0    7.0
185986  2018-01-31      5     987     NaN      NaN     NaN     NaN    NaN
185987  2018-01-31      5     988     NaN      NaN     NaN     NaN    NaN
185988  2018-01-31      5     989     0.0      1.0     0.0     0.0    7.0
185989  2018-01-31      5     990     NaN      NaN     NaN     NaN    NaN
185990  2018-01-31      5     991     1.0      0.0     0.0     0.0    7.0
185991  2018-01-31      5     992     1.0      1.0     0.0     0.0    1.0
185992  2018-01-31      5     993     1.0      1.0     0.0     0.0    7.0
185993  2018-01-31      5     994     1.0      0.0     0.0     0.0    7.0
185994  2018-01-31      5     995     NaN      NaN     NaN     NaN    NaN
185995  2018-01-31      5     996     1.0      1.0     0.0     0.0    1.0
185996  2018-01-31      5     997     1.0      0.0     0.0     0.0    7.0
185997  2018-01-31      5     998     0.0      1.0     0.0     0.0    1.0
185998  2018-01-31      5     999     NaN      NaN     NaN     NaN    NaN
185999  2018-01-31      5    1000     0.0      1.0     0.0     0.0    1.0

        second  third   brand
0          5.0  366.0   198.0
1          7.0  298.0   158.0
2         29.0  144.0  1040.0
3         29.0  145.0    70.0
4          4.0   17.0   707.0
5          3.0   15.0   724.0
6         29.0  145.0   957.0
7         30.0  168.0   411.0
8         29.0  149.0   111.0
9          4.0   80.0  1049.0
10        30.0  540.0  1264.0
11         NaN    NaN     NaN
12        29.0  149.0   518.0
13        29.0  149.0   749.0
14         5.0   21.0   285.0
15         5.0   21.0   534.0
16        29.0  144.0   394.0
17         NaN    NaN     NaN
18         4.0   14.0   738.0
19        30.0  539.0  1143.0
20         NaN    NaN     NaN
21        29.0  144.0   485.0
22         NaN    NaN     NaN
23        31.0  314.0  1194.0
24        30.0  170.0   783.0
25         3.0    6.0   332.0
26         NaN    NaN     NaN
27         4.0   18.0   648.0
28         NaN    NaN     NaN
29        29.0  144.0  1125.0
...        ...    ...     ...
185970    29.0  145.0  1617.0
185971     3.0   12.0    26.0
185972     4.0   13.0  1069.0
185973    24.0  125.0   268.0
185974    29.0  144.0   416.0
185975     NaN    NaN     NaN
185976    29.0  149.0   957.0
185977     2.0   83.0   413.0
185978     7.0  179.0  1254.0
185979     NaN    NaN     NaN
185980    29.0  147.0  1496.0
185981     2.0    1.0   577.0
185982    29.0  145.0   909.0
185983    29.0  147.0  1360.0
185984    29.0  145.0   957.0
185985   101.0  437.0   777.0
185986     NaN    NaN     NaN
185987     NaN    NaN     NaN
185988   101.0  437.0  1417.0
185989     NaN    NaN     NaN
185990    30.0  166.0  1739.0
185991     3.0   12.0  1051.0
185992    29.0  149.0   228.0
185993    29.0  147.0   286.0
185994     NaN    NaN     NaN
185995     4.0   80.0   225.0
185996    31.0  358.0  1153.0
185997     7.0  298.0   158.0
185998     NaN    NaN     NaN
185999     7.0  179.0   137.0

[186000 rows x 11 columns]

In [104]:
test2.to_csv('test.csv')